<footer class="footer">
  <img class="logo" src="/images/fad-logo.png" alt="logo" />
  <div class="contact">
      <h4 class="contact-title">Created By:</h4>
    <!-- contact -->
    <ul class="contact-ul">
      <li>Fariba Dadko</li>
      <li>Alexander Williams</li>
      <li>Dorothy Cheng</li>
    </ul>
  </div>
  <div class="social-media">
    <!-- social media -->
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
  </div>
</footer>