<nav>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/games/new">New Game</a></li>
    <li><a href="/users/new">New User</a></li>
    <li><a href="/reviews/new">New Review</a></li>
    <li><a href="/users/profile">My Profile</a></li>
    <li><a href="<%= accessUrl %>"><%= accessText %></a></li>
  </ul>
  <form action="/games" method="GET">
    <input type="text" placeholder="Search by game name..." name="search">
    <button type="submit">Search</button>
  </form>
</nav>
