<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Error</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <main>
      <section class="error-section">
        <h1 class="error-title">Uhoh! Error!</h1></br>
        <section class="error-message"><%= message %></section>
      </section>
      <%- include('./partials/footer') %>
    </main>
  </body>
</html>
