<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Error</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <section id="mainFeatured">
        <h1>Uhoh! Error!</h1>
      </section>
      <section><%= message %></section>
      <%- include('./partials/footer') %>
    </main>
  </body>
</html>
