<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>FAD Games Splash</title>
</head>
<body>
    <main>
        <%- include('./partials/nav') %>
        <section id="mainFeatured">
            <h1>Hit Home Page</h1>
        </section>

        <section class="threeContainer">
            <div class="threeSet">
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
            </div>
            <div class="threeSet">
            </div>
            <div class="threeSet">
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
            </div>
        </section>

        <section class=circleContainer>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
        </section>

        <section class="threeContainer">
            <div class="halfSet"></div>
            <div class="fourthSet"></div>
            <div class="fourthSet"></div>
        </section>

        <section class="threeContainer">
            <div class="threeSet">
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
            </div>
            <div class="threeSet">
            </div>
            <div class="threeSet">
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
            </div>
        </section>
        <%- include('./partials/footer') %>
    </main>

</body>
</html>