<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>FAD Games Splash</title>
</head>
<body>
    <main>
        <h1>Hit Home Page</h1>
        <a href="/games">Game Index</a>
    </main>
</body>
</html>