* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: rgb(243, 243, 243);
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* -------------------------NAV CSS--------------- */
nav {
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: rgb(167, 167, 167);
}
.nav {
    display: flex;
    justify-content: space-evenly;
}
.nav li {
    display: inline;
}
.nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: color .2s ease-in-out;
}
.nav a:hover {
    color: white;
}
/* -------------------------NAV END--------------- */
/* -------------------------FOOTER CSS--------------- */
footer {
    height: 30px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(167, 167, 167);
}
/* -------------------------FOOTER END--------------- */
main {
    width: 80%;
    max-width: 1500px;
    min-width: 900px;
    box-sizing: border-box;
}

#mainFeatured {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.threeContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.threeSet {
    width: 31%;
    min-width: 200px;
    min-height: 300px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: rgb(167, 167, 167);
}
.fourPanel {
    width: 40%;
    height: 40%;
    background-color: rgb(201, 201, 201);
}

.circleContainer {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}
.round {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: rgb(201, 201, 201);
}

.halfSet {
    margin-bottom: 20px;
    width: 45%;
    height: 300px;
    background-color: rgb(167, 167, 167);
}
.fourthSet {
    width: 25%;
    height: 300px;
    background-color: rgb(167, 167, 167);
}
.fourthSet img {
    width: 100%;
    height: 100%;
}

/* --------------------------------INDEX CSS---------------- */
#indexContainer {
    display: flex;
    flex-direction: row;
}
.adLong {
    margin-top: 10px;
    height: 600px;
    width: 15%;
    background: url('https://picsum.photos/150/600');
}
.indexUl {
    list-style-type: none;
    width: 70%;
}
.title {
    font-size: 20px;
}

#indexList {
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.picHolder {
    width: 30%;
    min-width: 150px;
}
.picHolder img {
    width: 100%;
}
.holder {
    width: 40%;
    min-width: 150px;
    background: url("https://picsum.photos/500/500")
}
.editDelete {
    display: flex;
    justify-content: flex-end;
}
.editDelete button {
    background: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px;
}
.editDelete button:hover{ 
    background: red;
    color: white;
}
.editDelete a {
    padding: 2px 5px 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.editDelete a:hover {
    background-color: black;
}
.indexInfo {
    width: 75%;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.indexInfo a{
    text-decoration: none;
    color: black;
    transition: text-shadow .2s ease-in-out;
}
.indexInfo a:hover{
    color: white;
    text-shadow: 2px 2px 4px black;
}
/* --------------------------------INDEX END---------------- */
/* --------------------------------FORM START---------------*/
.formHolder {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background: lightgrey;
}
.formHolder button {
    width: 100%;
    height: 30px;
}

.formHolder div {
    margin-bottom: 5px;
}

.list-title{
    display: inline-block;
    text-align: end;
    width: 49.5%;
}
input {
    width: 49.5%;
    border: none;
    border-radius: 0;
    height: 20px;
}
/* --------------------------------FORM END---------------*/
/* --------------------------------SHOW START---------------*/
.twoHolder {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
}
.showDes {
    display: block;
    width: 50%;
    margin-left: 10px;
}

.showUl {
    list-style-type: none;
}

.showImg {
    width: 100%;
    margin-bottom: 10px;
}

.reviewLi {
    margin-bottom: 10px;
}

.profilePic {
    width: 30%;
    padding-right: 20px;
}
.profilePic img {
    width: 100%;
    border-radius: 50%;
}
/* --------------------------------SHOW END---------------*/
/* -------------------------- RESPONSIVE MEDIA */
@media screen and (max-width: 650px){
    #indexContainer {
        display: flex;
        flex-direction: column;
        min-width: 600px;
    }
    .adLong {
        margin-top: 10px;
        height: 100px;
        width: 100%;
        background-color: rgb(201, 201, 201);
    }
    .indexUl {
        width: 100%;
    }
    .threeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .threeSet {
        width: 50%;
        min-width: 200px;
        min-height: 300px; 
        flex-wrap: wrap;
        align-content: space-around;
        margin-bottom: 20px;
        background-color: rgb(167, 167, 167);
    }
    .circleContainer {
        margin: 15px 0 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .round {
        margin-bottom: 10px;
    }
    .halfset {
        width: 40%;
        min-width: 200px;
        min-height: 300px; 
        flex-wrap: wrap;
        align-content: space-around;
        margin-bottom: 20px;
    }
    .fourthSet {
        width: 40%;
        min-width: 200px;
        min-height: 300px; 
        flex-wrap: wrap;
        align-content: space-around;
        margin-bottom: 20px;
    }
    .adLong {
        background: url('https://picsum.photos/1000/100');
    }
}
    
