<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <script src="/scripts/image-populate.js" defer></script>
    <title>New User</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <div class="threeContainer">
        <div class=picHolder>
          <img id="display-img" src="https://icon-library.com/images/generic-user-icon/generic-user-icon-19.jpg" alt="user profile pic">
        </div>
        <div class=formHolder>
          <h1>New User</h1>
          <form action="/users" method="POST">
            <div>
                <label for="username" class="list-title">Username:</label>
                <input type="text" name="username" placeholder=" required" required>
                <p><%= message %></p>
            </div>
            <div>
                <label for="password" class="list-title">Password: </label>
                <input type="text" name="password" placeholder=" required" required>
            </div>
            <div>
                <label for="age" class="list-title">Age: </label>
                <input type="number" name="age">
            </div>
            <div>
                <label for="profilePic" class="list-title">Profile Pic (URL):</label>
                <input id="image" type="text" name="profilePic">
            </div>
            <div>
                <label for="preferredGenre" class="list-title">Preferred Genre:</label>
                <input type="text" name="preferredGenre">
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
